{% extends 'base.html' %}
{% block content %}
<form>
    <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">📚 Edit Materi</h2>
    <a href="{{ url_for('main.materials') }}" class="btn btn-outline-secondary">← Kembali ke Dashboard</a>
    </div>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label }}<br>
        {{ form.title(class_='form-control') }}
    </div>
    <div class="mb-3">
        {{ form.description.label }}<br>
        {{ form.description(class_='form-control', rows=4) }}
    </div>
    <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
    <a href="{{ url_for('main.materials') }}" class="btn btn-secondary">Batal</a>
</form>
{% endblock %}
